# 🔐 Секретные конфигурации
.env

# 📦 Node.js зависимости
**/node_modules/

# 🐍 Python окружения и кэш
**/venv/
**/myenv/
**/__pycache__/
*.pyc
*.pyo

# ⚙️ IDE и системные файлы
.vscode/
*.log
.cache/
tmp/

# 📁 Сборка и покрытие тестами
dist/
build/
coverage/